.content{
    position: relative;
    top: 5%;
    transform: translateY(-5%);
}
#section-1{
    @include bg-covertint($r_deep-blue,$g_deep-blue,$b_deep-blue,$r_light-blue,$g_light-blue,$b_light-blue,$alpha_cover,$cover_picture);
    height: 100vh;
    color: $pure_white;
    h1{
        
    }
}