@mixin text-body {
    font-family: 'lato', sans-serif;
    font-size: 17px;
    color: $pure_white;
    font-weight: $light;
}
@mixin bg-covertint ($r-from, $g-from, $b-from, $r-to, $g-to, $b-to, $alpha, $imgurl, $background-top:"center", $background-left:"center", $background-attachment:"fixed") {
	background: -webkit-linear-gradient(rgba($r-from, $g-from, $b-from, $alpha), rgba($r-to, $g-to, $b-to, $alpha)), url($imgurl) no-repeat unquote($background-top) unquote($background-left) unquote($background-attachment); 
	background:    -moz-linear-gradient(rgba($r-from, $g-from, $b-from, $alpha), rgba($r-to, $g-to, $b-to, $alpha)), url($imgurl) no-repeat unquote($background-top) unquote($background-left) unquote($background-attachment); 
	background:      -o-linear-gradient(rgba($r-from, $g-from, $b-from, $alpha), rgba($r-to, $g-to, $b-to, $alpha)), url($imgurl) no-repeat unquote($background-top) unquote($background-left) unquote($background-attachment); 
	background:         linear-gradient(rgba($r-from, $g-from, $b-from, $alpha), rgba($r-to, $g-to, $b-to, $alpha)), url($imgurl) no-repeat unquote($background-top) unquote($background-left) unquote($background-attachment); 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
}  
@mixin headers {
	font-weight: $light;
	font-size: 70%;
	text-align: center;
	margin-bottom: 10px;
	width: 50%;
	@include center-horizontal();
}
@mixin center-vertical {
	position: relative; //un centrado vertical contiene un top, un left, posicicion y una transicion
	top: 50%;
	left: 50%;	
	transform: translate(-50%,-50%);//crea un efecto en la trancicion
}
@mixin center-horizontal {
	margin-left: auto; //en base al recuadro que baya el mergen e pondra automaticamente
	margin-right: auto;//funciona cuando los margenes estan en automatico tanto izquierda como derecha
	display: block;//ocupa todo el bloque de la pagina
}
@mixin placeholder ($color,$font-weight){
	::-webkit-input-placeholder {
		color: $color;
		font-weight: $font-weight;
	}

	:-moz-placeholder { /* Firefox 18- */
		color: $color;
		font-weight: $font-weight;
	}

	::-moz-placeholder {  /* Firefox 19+ */
		color: $color;
		font-weight: $font-weight;
	}

	:-ms-input-placeholder {  
		color: $color; 
		font-weight: $font-weight;
	}
}