$deep_blue: #001656;
$r_deep-blue: 0;
$g_deep-blue: 22;
$b_deep-blue: 86;

$light_blue: #4d94ff;
$r_light-blue: 25;
$g_light-blue: 117;
$b_light-blue: 255;

$black: #333333;
$grey: #EAEAEA;
$pure_white: #078317;
$almost_white: #fafafa;

$cover_picture: "./assets/img/cover-picture.png";
$alpha_cover: .6;
$light: 100;
$regular: 300;
$semi_bold: 400;
$bold: 700;
$ultra_bold: 900;
